html,body {
    color: white;
    background-color: #030303;
    /* prevent pull-down-refresh and */
    /* pull-sideways-to-nav on touch devices */
    /* see: https://stackoverflow.com/a/48417352 */
    overscroll-behavior: contain;
    touch-action: none;
}

canvas {
    border: 1px solid cyan;
    height: 85vh;
    width: 90vw;
    /* prevent aspect-ratio shifting for canvas contents */
    /* see: https://www.reddit.com/r/HTML/comments/fss1zo/how_to_solve_blurry_or_distorted_html_canvases/ */
    object-fit: contain;
}

#debug { 
    border: solid 1px lime;
    font-size: 0.8rem;
    /* min-height: 200px; */
    max-height: 50vh;
    overflow: scroll;
    /* position: fixed; 
    top: 2rem;
    right: 0; */
}

p#pointerDebug { 
    border: solid 1px #ff00ff;
    font-size: 0.7rem;
    height: 4rem;
    overflow: hidden;
    position: fixed;
    bottom: 7rem;
    pointer-events: none;
}

#canvasWrapper {
    position: relative;
    /* Even though this is technically the default
     * setting it explicitly on the wrapper div 
     * will tell #pauseMenuDiv to use this as a
     * reference point when defining it's position
     * with `position: absolute;`
     */

    max-width: fit-content; 
    /* don't create extra margin to the left or right; 
     * instead wrap tightly around the canvas
     */
}

#pauseMenuDiv {
    /* position: fixed; */
    position: absolute;
    /* using `position: absolute;` instead of
     * `position: fixed` here because we wish to
     * define it's position relative to a parent
     * element, rather than the viewport
     */

    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* by setting all 4 of these to `0`, 
     * we tell css to stretch this div
     * all the way to the edges of it's 
     * reference point element.
     */

    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    z-index: 1000;
}

button {
    font-family: sans-serif;
    font-size: inherit;

    cursor: pointer;

    padding: 0.5rem 1rem;

    border: 2px solid cyan;
    border-radius: 0.1rem;
    color: white;
    background-color: transparent;
}

#pauseMenuDiv button {
    font-size: 1.5rem;
    padding: 1rem 2rem;
    min-width: 150px;
    background-color: transparent;
    /* color: white; */
    /* border: 2px solid cyan; */
    /* cursor: pointer; */
}

/* change to look like default used by existing "End Turn" button. */
#endTurnButton, #pauseButton {

    /* margin-left: 1rem; */
    position: absolute;

    /* padding: 0.5rem 1rem; */
    background-color: rgba(0, 0, 0, 0.7);
}


#pauseButton {
    top: 2px;
    left: 2px;
}

#endTurnButton {
    bottom: 6px;
    right: 2px;
}

/*
#selectedFleetInfoDiv > button, dialog > button {
    background-color: transparent;
}
*/

#selectedFleetInfoDiv {
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 4px;

    font-family: sans-serif;
    font-size: inherit;

    border: 2px solid cyan;
    padding: 0.25rem;
}


dialog {
    color: cyan;
    background-color: black;

    border: 2px solid cyan;
    padding: 0.5rem;

    font-family: sans-serif;
    font-size: inherit;

    text-align: center;
}

dialog > p {
    text-align: left;
}

dialog::backdrop {
    rgba(0,0,0, 0.8);
}
